:root {
  --bg-main: #fff8f5;
  --sidebar-bg: #f1e9ee;
  --card-bg: #dfe7b5;
  --green-button: #7b835f;
  --text-dark: #6b6b5f;
}

a {
  text-decoration: none;
}
body {
  margin: 0;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: var(--bg-main);
}
body, input, select, button {
  font-family: "Poppins", sans-serif;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR ------------------------------------------------ */

.sidebar {
  width: 240px;
  background: var(--sidebar-bg);
  padding: 20px;
  min-height: 100vh;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.toggle-btn {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

/* user */
.user-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 30px;
}

.sidebar.collapsed .user-section {
  display: none;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
}

.username {
  color: #7b6e8e;
  text-decoration: underline;
  cursor: pointer;
}

/* menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-item {
  color: #7b6e8e;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.active {
  background: #c6be6f;
  color: white;
}

/* MAIN CONTENT ------------------------------------------------ */

.main-area {
  padding: 40px;
  flex: 1;
}

.new-habit-btn {
  background: var(--green-button);
  color: white;
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 40px;
}

.back-btn {
  background: var(--green-button);
  color: white;
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 40px;
}

/* Cards grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 30px;
  text-align: center;
}

.card h3 {
  color: var(--text-dark);
  font-size: 26px;
  margin-bottom: 20px;
}

.card img {
  max-width: 180px;
}
