.form-area {
  padding: 50px;
  flex: 1;
}

.modal-box {
  background: #faeac5;
  border-radius: 26px;
  max-width: 650px;
  margin: 0 auto;
  padding: 30px 40px;
  position: relative;
}

.modal-header {
  background: #b4d267;
  padding: 16px;
  border-radius: 14px;
  text-align: center;
  font-size: 22px;
  color: white;
  font-weight: 600;
  margin-top: -45px;
  width: 80%;
  margin-left: 10%;
}

.habit-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  color: #a86e2a;
}

input, select {
  padding: 12px;
  border-radius: 12px;
  border: none;
}

.btn-row {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
}

.save-btn {
  background: #7bb19e;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  background: #f6b4ab;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
body, input, select, button {
  font-family: "Poppins", sans-serif;
}
