<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/flower.png') }}">
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet"
  >

  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>
  <div class="layout">

    <!-- SIDEBAR -->
<aside id="sidebar" class="sidebar expanded">

    <button id="toggle-btn" class="toggle-btn">☰</button>

    <!-- USER INFO -->
        <div class="user-section">
        
        <!-- Avatar con imagen -->
        <div class="avatar">
            <img 
            src="/static/img/flower.png" 
            alt="User avatar"
            >
        </div>

        <!-- Username -->
        <span class="username">{{ session['username'] }}</span>

        </div>



    <!-- MENU -->
    <nav class="menu">
      <a class="menu-item active" href="{{ url_for('main.dashboard') }}">
        <span class="item-icon">✔</span>
        <span class="item-text">My habits</span>
      </a>

      <a class="menu-item" href="{{ url_for('main.calendar_view') }}">
        <span class="item-icon">📅</span>
        <span class="item-text">Calendar</span>
      </a>
    </nav>

    <!-- LOGOUT (abajo) -->
    <a class="logout-section" href="{{ url_for('main.logout') }}">
      <span class="logout-icon">⏻</span>
      <span class="logout-text">Logout</span>
    </a>

</aside>


    <!-- MAIN CONTENT -->
    <main class="main-area">

      <div class="grid">

        <a href="{{ url_for('main.habits_by_category', category='physical') }}" class="card">
          <h3>Physical health</h3>
          <img src="{{ url_for('static', filename='img/cardio.png') }}">
        </a>

        <a href="{{ url_for('main.habits_by_category', category='mental') }}" class="card">
          <h3>Mental</h3>
          <img src="{{ url_for('static', filename='img/mental.png') }}">
        </a>

        <a href="{{ url_for('main.habits_by_category', category='social') }}" class="card">
          <h3>Social</h3>
          <img src="{{ url_for('static', filename='img/social.png') }}">
        </a>

        <a href="{{ url_for('main.habits_by_category', category='hobbies') }}" class="card">
          <h3>Hobbies</h3>
          <img src="{{ url_for('static', filename='img/hobbies.png') }}">
        </a>

      </div>
    </main>

  </div>

  <script>
    const btn = document.getElementById("toggle-btn");
    const sidebar = document.getElementById("sidebar");

    btn.onclick = () => {
      sidebar.classList.toggle("collapsed");
      sidebar.classList.toggle("expanded");
    };
  </script>

</body>
</html>
