name: CI/CD to Compute Engine VM

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: pytest -v

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Copy app to VM
        run: |
          gcloud compute scp --recurse . \
            habits-vm:~/app \
            --zone=europe-west1-b

      - name: SSH into VM and rebuild
        run: |
          gcloud compute ssh habits-vm --zone=europe-west1-b --command "
            cd ~/app/FinalProjectInfrastructure &&
            docker compose down &&
            docker compose build &&
            docker compose up -d
          "
